<h1>New Pet</h1>
<%= form_with model: @pet do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @pet.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
    <% @pet.errors.full_messages_for(:breed).each do |message| %>
          <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
    <% @pet.errors.full_messages_for(:image).each do |message| %>
          <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>

